
// *:focus {
//   outline: none;
//   border: none;
//   box-shadow: none
// }

button:focus, .btn:focus {
  outline: none;
  box-shadow: none;
}

#root {
  height: 100vh;
}



// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

