
// *:focus {
//   outline: none;
//   border: none;
//   box-shadow: none
// }

button:focus, .btn:focus {
  outline: none;
  border: none;
  box-shadow: none;
  border-color: none
}



// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

